@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: "noto sans CJK KR";
  color: #222;
  font-size: 10px;
  line-height: 1.2;
  box-sizing: border-box;
}

body,
header,
section,
article,
footer,
nav,
aside,
mark,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
dl,
dt,
dd,
address,
code,
em,
strong,
blockquote,
q {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

q {
  quotes: none;
}

em,
address {
  font-style: normal;
}

hr {
  display: none;
}

a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:active {
  color: #222;
}

#wrap {
  width: 100vw;
}

body {
  font-family: "noto sans CJK KR";
  color: #222;
  font-size: 0.652rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 80px;
  transition: 0.6s;
}

header.sticky {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

header.sticky .hd_content {
  padding: 15px 0;
}

header.sticky .hd_content .logo a {
  background-image: url(./../images/s_logo_b.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .hd_content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: calc(50% - 500px);
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0 20px 0;
  box-sizing: border-box;
  transition: 0.6s;
}

@media screen and (max-width: 992px) {
  header .hd_content {
    left: calc(50% - 45%);
    width: 90%;
    padding: 30px 0;
  }
}

header .hd_content .logo a {
  display: block;
  width: 100px;
  height: 30px;
  color: #222;
  font-size: 2rem;
  line-height: 30px;
  text-indent: -9999px;
  background-image: url(./../images/s_logo_b.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .hd_content nav {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 992px) {
  header .hd_content nav {
    position: absolute;
    top: 0;
    right: -500px;
    width: 200px;
    height: 100vh;
    background-color: #666;
    transition: 0.3s;
  }
}

header .hd_content nav .gnb {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 1.3rem;
}

@media screen and (max-width: 992px) {
  header .hd_content nav .gnb {
    display: block;
    padding: 100px 30px 0;
  }
}

header .hd_content nav .gnb li {
  height: 20px;
}

@media screen and (max-width: 992px) {
  header .hd_content nav .gnb li {
    height: 50px;
  }
}

header .hd_content nav .gnb li a {
  display: block;
  position: relative;
  padding-top: 8px;
  color: #777;
  font-weight: 800;
  line-height: 15px;
}

@media screen and (max-width: 992px) {
  header .hd_content nav .gnb li a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1.5rem;
  }
}

header .hd_content nav .gnb li a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #222;
  transform: translateX(-50%);
  transition: all 0.5s ease-out;
}

header .hd_content nav .gnb li.on, header .hd_content nav .gnb li:hover {
  line-height: 50px;
}

header .hd_content nav .gnb li.on a, header .hd_content nav .gnb li:hover a {
  color: #222;
}

header .hd_content nav .gnb li.on a:after, header .hd_content nav .gnb li:hover a:after {
  width: 100%;
}

@media screen and (max-width: 992px) {
  header .hd_content nav .gnb li.on a, header .hd_content nav .gnb li:hover a {
    color: #fff;
    font-weight: 800;
  }
  header .hd_content nav .gnb li.on a:after, header .hd_content nav .gnb li:hover a:after {
    display: none;
  }
}

header .hd_content nav .lnb {
  position: fixed;
  top: 80px;
  right: calc(50% - 500px);
}

@media screen and (max-width: 992px) {
  header .hd_content nav .lnb {
    display: flex;
    justify-content: space-between;
    top: 25px;
    left: calc(50%);
    right: initial;
    width: 70px;
  }
}

header .hd_content nav .lnb li {
  position: relative;
  width: 13px;
  height: 13px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 50%;
  box-sizing: border-box;
}

header .hd_content nav .lnb li a {
  display: block;
  color: #222;
  font-weight: 600;
  text-indent: -9999px;
}

header .hd_content nav .lnb li:hover,
header .hd_content nav .lnb li.on {
  width: 13px;
  height: 13px;
  background-color: #222;
  border-radius: 50%;
  cursor: pointer;
}

header .hd_content nav .lnb li:hover a,
header .hd_content nav .lnb li.on a {
  position: absolute;
  right: 23px;
  z-index: 9999;
  text-align: right;
}

@media screen and (max-width: 992px) {
  header .hd_content nav .lnb li:hover a,
  header .hd_content nav .lnb li.on a {
    display: none;
  }
  header .hd_content nav .lnb li:hover a:nth-of-type(1),
  header .hd_content nav .lnb li.on a:nth-of-type(1) {
    left: -10px;
  }
}

header .hd_content .total {
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: 3px;
}

@media screen and (max-width: 992px) {
  header .hd_content .total {
    display: block;
    right: 0;
  }
}

header .hd_content .total div {
  display: block;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 0;
  z-index: 9999;
  width: 25px;
  height: 3px;
  text-indent: -9999px;
  background-color: #222;
  transition: all 0.3s;
  animation: none;
}

header .hd_content .total div:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #222;
  transition: all 0.3s;
}

header .hd_content .total div:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #222;
  transition: all 0.3s;
}

header .hd_content .total.on div {
  background-color: rgba(150, 150, 150, 0);
}

header .hd_content .total.on div:before, header .hd_content .total.on div:after {
  top: 0;
  background-color: #fff;
}

header .hd_content .total.on div:before {
  transform: rotate(45deg);
}

header .hd_content .total.on div:after {
  transform: rotate(-45deg);
}

footer {
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: calc(50% - 10%);
  padding: 50px 0;
}

footer address {
  color: #999;
  text-align: center;
  font-size: 1.3rem;
}

footer address span {
  font-weight: 800;
}

a.btn {
  overflow: hidden;
  display: block;
  position: relative;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  font-size: 0.7rem;
  text-align: center;
  background: #ead3c7;
  box-sizing: border-box;
}

a.btn span {
  width: 150px;
  font-weight: 800;
}

a.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #7f428d;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

a.btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #7f428d;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

a.btn:hover:before, a.btn:hover:after {
  width: 50%;
  transition-delay: 0s;
}

a.btn:hover span:nth-of-type(1) {
  transform: scale(0);
  transition-delay: 0s;
}

a.btn:hover span:nth-of-type(2) {
  transform: scale(1);
  transition-delay: 0s;
  opacity: 1;
  z-index: 10;
  transition-delay: 0.5s;
}

a.btn span {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 75px);
  z-index: 1000;
  width: 150px;
  color: #222;
  transition: 0.5s;
}

a.btn span:nth-of-type(1) {
  transition-delay: 0.75s;
}

a.btn span:nth-of-type(2) {
  transform: scale(3);
  opacity: 0;
  color: #fff;
  transition-delay: 0s;
}

body {
  overflow: hidden;
  height: 100vh;
}

span {
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(./../images/star_move.svg);
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: starmove 4s linear infinite;
}

@keyframes starmove {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -1000%);
    opacity: 0;
  }
}

section.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

section.main .mn_pic .line {
  position: absolute;
  top: 150px;
  left: calc(50% - 420px);
  width: 400px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./../images/juin_line.svg);
}

section.main .mn_pic .people {
  position: absolute;
  top: 335px;
  left: calc(50% - 450px);
  width: 400px;
  height: 250px;
  background-image: url(./../images/juin.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
