@import "_profile";
@import "_btn";

$tablet: "screen and (max-width:992px)";
$mobile: "screen and (max-width:768px)";
$titFont: unquote("noto sans CJK KR");

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@mixin bg {
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

body {
  width: 100vw;
}

span {
  position: absolute;

  width: 10px;
  height: 10px;
  background-image: url(./../images/star_move.svg);
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: starmove 4s linear infinite;
}

@keyframes starmove {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -1000%);
    opacity: 0;
  }
}

section.main {
  width: 100vw;
  height: 85vh;

  @media #{$mobile} {
    height: 130vh;
  }

  .mn_container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    padding-top: 200px;

    @media #{$mobile} {
      display: block;
      width: 100%;
      padding-top: 100px;
    }

    .mn_visual {
      position: relative;
      width: 55%;
      height: 550px;

      @media #{$tablet} {
        position: none;
        display: block;
        width: 100%;
      }

      .mn_background {
        .elements {
          div {
            position: absolute;
            width: 40px;
            height: 40px;

            @keyframes shake {
              0% {
                transform: rotate(5deg);
              }
              50% {
                transform: rotate(-5deg);
              }
              100% {
                transform: rotate(5deg);
              }
            }

            @keyframes twinkle {
              0% {
                transform: scale(0);
              }
              50% {
                transform: scale(1);
              }
              100% {
                transform: scale(0);
              }
            }

            @keyframes planet {
              0% {
                transform: rotate(0deg);
              }
              50% {
                transform: rotate(360deg);
              }
              100% {
                transform: rotate(0deg);
              }
            }
          }
        }

        .bg_left {
          div {
            &:nth-of-type(1) {
              top: 65%;
              left: 5%;
              width: 50px;
              height: 50px;
              background-image: url(./../images/mn_smroket.svg);
              animation: shake 3s infinite;
            }
            &:nth-of-type(2) {
              top: 75%;
              left: 8%;
              width: 20px;
              height: 20px;
              background-image: url(./../images/mn_twinkle_line.svg);
              animation: twinkle 2s infinite;
            }
            &:nth-of-type(3) {
              top: 78%;
              left: 15%;
              width: 20px;
              height: 20px;
              background-image: url(./../images/mn_twinkle_c.svg);
              animation: shake 0.7s infinite;
            }
            &:nth-of-type(4) {
              top: 70%;
              left: 20%;
              width: 30px;
              height: 30px;
              background-image: url(./../images/mn_twinkle_c.svg);
              animation: twinkle 1.5s infinite;
            }
          }
        }

        .bg_right {
          div {
            &:nth-of-type(1) {
              top: 80%;
              right: 15%;
              width: 40px;
              height: 40px;
              background-image: url(./../images/mn_smplanet.svg);
              animation: shake 2s infinite;
            }
            &:nth-of-type(2) {
              top: 75%;
              right: 10%;
              width: 20px;
              height: 20px;
              background-image: url(./../images/mn_twinkle_line.svg);
              animation: twinkle 2s infinite;
            }
            &:nth-of-type(3) {
              top: 93%;
              right: 15%;
              width: 15px;
              height: 15px;
              background-image: url(./../images/mn_twinkle_c.svg);
              animation: twinkle 1.5s infinite;
            }
            &:nth-of-type(4) {
              top: 90%;
              right: 5%;
              width: 30px;
              height: 30px;
              background-image: url(./../images/mn_twinkle_c.svg);
              animation: shake 0.7s infinite;
            }
          }
        }

        .bg_planet {
          div {
            &:nth-of-type(1) {
              top: 30%;
              left: 15%;
              z-index: 0;

              width: 80px;
              height: 80px;
              background-image: url(./../images/mn_planet3.svg);
              background-size: 120%;
              background-position: center center;
              border-radius: 50%;
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.2),
                inset 0 0 3px rgba(0, 0, 0, 0.5);

              animation: planet 20s infinite;
            }
            &:nth-of-type(2) {
              top: 2%;
              left: 35%;
              z-index: 100;
              width: 110px;
              height: 110px;
              background-image: url(./../images/mn_planet1.svg);
              background-size: 120%;
              background-position: center center;
              border-radius: 50%;
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.2),
                inset 0 0 3px rgba(0, 0, 0, 0.5);

              animation: shake 2s infinite;
            }
            &:nth-of-type(3) {
              top: 23%;
              right: 25%;
              z-index: 100;
              width: 120px;
              height: 120px;
              background-image: url(./../images/mn_planet2.svg);
              background-size: 120%;
              background-position: center center;
              border-radius: 50%;
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.2),
                inset 0 0 3px rgba(0, 0, 0, 0.5);
              animation: shake 2s infinite;
            }
            &:nth-of-type(4) {
              top: 8%;
              right: 10%;
              z-index: 100;
              width: 60px;
              height: 60px;
              background-image: url(./../images/mn_planet4.svg);
              background-size: 120%;
              background-position: center center;
              border-radius: 50%;
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.2),
                inset 0 0 3px rgba(0, 0, 0, 0.5);
              animation: planet 30s infinite;
            }
            &:nth-of-type(5) {
              top: 18%;
              left: 30%;
              z-index: 50;
              width: 80%;
              height: 65%;
              background-image: url(./../images/mn_uju.gif);
              background-size: contain;
              background-repeat: no-repeat;

              @media #{$mobile} {
                left: 27%;
              }
            }
          }
        }
      }
      .elements {
        width: 50px;
      }
    }
    .mn_tit {
      width: 45%;
      height: 550px;

      padding: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      box-sizing: border-box;

      @media #{$mobile} {
        width: 100%;
        text-align: center;
      }

      h3 {
        margin-bottom: 10px;
        font-size: 2.5rem;
      }

      > p {
        padding: 5px 0 30px;

        color: #222;
        font-size: 1.5rem;
        font-weight: 200;

        @media #{$mobile} {
          text-align: center;
          padding: 0 auto 30px;
        }
      }

      > a {
        display: flex;
        width: 200px;
        height: 30px;

        color: #888;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 30px;

        @media #{$mobile} {
          width: 170px;
          margin: 0 auto;

          text-align: center;

          &:nth-of-type(1) {
            padding-top: 15px;
            border-top: 1px solid #000;
          }
          &:nth-of-type(3) {
            padding-bottom: 15px;
            border-bottom: 1px solid #000;
          }
        }

        &:hover {
          color: #222;
        }

        &::before {
          content: "";
          display: inline-block;

          width: 20px;
          height: 30px;
          margin-right: 5px;

          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          box-sizing: border-box;
        }

        &:nth-of-type(1) {
          &::before {
            background-image: url(./../images/user.svg);
          }

          &:hover {
            &::before {
              background-image: url(./../images/user_h.svg);
            }
          }
        }
        &:nth-of-type(2) {
          &::before {
            background-image: url(./../images/phone.svg);
          }

          &:hover {
            &::before {
              background-image: url(./../images/phone_h.svg);
            }
          }
        }
        &:nth-of-type(3) {
          &::before {
            background-image: url(./../images/mail.svg);
          }

          &:hover {
            &::before {
              background-image: url(./../images/mail_h.svg);
            }
          }
        }
      }

      .mn_portfolio {
        overflow: hidden;

        position: relative;

        width: 100%;
        height: 268px;

        @media #{$mobile} {
          position: none;
        }

        > a {
          display: block;
          margin: 50px 0 15px;
          padding-top: 0;
          color: #888;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 30px;

          &:hover {
            color: #222;
          }
        }

        ol.pf_pagination {
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 0;
          z-index: 0;
          width: 100%;
          height: 2px;

          li {
            overflow: hidden;
            position: relative;
            z-index: 0;
            width: calc(100% / 4 - 10px);
            height: 2px;
            background-color: #f2f2f2;

            > span {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 0;
            }

            &.on {
              span {
                width: 100%;
                height: 3px;
                background-color: #f8c421;

                animation: time 3s linear forwards;
              }
            }
          }

          @keyframes time {
            0% {
              transform: translate(-100%);
            }
            100% {
              transform: translate(0%);
            }
          }
        }

        ul {
          display: flex;
          justify-content: space-between;

          position: relative;
          left: 0;
          z-index: 0;

          width: 470px;
          height: 150px;

          li {
            width: 150px;
            height: 150px;
            border: 1px solid #f2f2f2;
            box-sizing: border-box;
            margin-right: 10px;
            &:hover {
              > a:after {
                background-color: rgba(0, 0, 0, 0.2);
              }
            }
            > a {
              display: inline-block;
              position: relative;
              z-index: 1;

              width: 150px;
              height: 150px;
              text-indent: -9999px;
              background-color: #222;
              background-size: contain;
              box-sizing: border-box;

              &:after {
                content: "";
                display: block;

                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;

                width: 150px;
                height: 150px;
              }

              &::before {
                content: "";
                display: block;

                position: absolute;
                top: 8px;
                left: 8px;
                z-index: 1;

                width: 132px;
                height: 132px;
                border: 1.5px solid #fff;
              }
            }

            &:nth-of-type(1) {
              a {
                background-image: url(./../images/port_1.png);
              }
            }
            &:nth-of-type(2) {
              a {
                background-image: url(./../images/port_2.png);
              }
            }
            &:nth-of-type(3) {
              a {
                background-image: url(./../images/port_3.png);
              }
            }
            &:nth-of-type(4) {
              a {
                background-image: url(./../images/port_4.png);
              }
            }
          }
        }
      }
    }
  }
}
