@import "_profile";

h2 {
  color: #b13636;
  font-size: 3.5rem;
}

h3 {
  margin: 50px 0 20px;
  color: #b13636;
  font-size: 1.7rem;
}

p {
  margin-top: 15px;
  font-size: 1.2rem;
  line-height: 2;
}

#wrap {
  width: 100vw;
  font-size: 0.625rem;
}

section.introduce {
  width: 1000px;
  margin: 180px auto;
  @media #{$tablet} {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  h2 {
    @media #{$tablet} {
      width: 80%;
      margin: 30px auto;

      @media #{$mobile} {
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid #b13636;
      }
    }
  }

  .in_container {
    display: flex;
    justify-content: space-between;

    margin-top: 70px;
    @media #{$tablet} {
      width: 80%;
      margin: 0 auto;

      @media #{$mobile} {
        flex-direction: column;
      }
    }
    h3 {
      width: 30%;
      margin: 0;

      @media #{$mobile} {
        order: 2;
        margin: 50px auto 0;
        text-align: center;
      }

      a {
        display: block;
        color: transparent;
        font-size: 5rem;
        line-height: 1;

        -webkit-text-stroke: 1px #b13636;

        &:hover {
          color: #b13636;
        }

        @media #{$mobile} {
          width: 150px;
          height: 35px;

          color: #b13636;
          font-size: 1.7rem;
          line-height: 35px;
          border: 2px solid #b13636;
          border-radius: 50px;

          -webkit-text-stroke: transparent;

          br {
            display: none;
          }

          &:hover {
            color: #fff;
            background-color: #b13636;
          }
        }
      }
    }

    .in_iam {
      width: 70%;
      @media #{$mobile} {
        order: -2;

        width: 90%;
        margin: 0 auto;
        & br {
          display: none;
        }
      }
      p {
        span {
          font-weight: 800;
        }

        @media #{$mobile} {
          text-align: justify;
        }
      }
    }
  }
} //end of section_introduce

section.swot {
  display: flex;
  justify-content: center;

  width: 100vw;
  max-height: 268px;
  align-items: center;

  background-color: #f2f2f2;
  overflow: hidden;

  .swot_container {
    display: flex;
    justify-content: space-between;

    width: 1000px;
    margin: 0 auto;
    padding: 50px;

    text-align: center;

    @media #{$tablet} {
      width: 80%;
      flex-wrap: wrap;
      @media #{$mobile} {
        flex-direction: column;
      }
    }

    div {
      @media #{$tablet} {
        width: 40%;
        margin: 50px auto;
      }
    }
    h3 {
      position: relative;
      margin: 0;
      padding: 90px 0 10px 0;

      &:before {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        left: calc(50% - 35px);

        width: 70px;
        height: 70px;

        // border: 2px solid #b13636;
        background-color: #b13636;
        border-radius: 50%;
        background-size: contain;

        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &.s:before {
        background-image: url(./../images/strength.svg);
      }

      &.w:before {
        background-image: url(./../images/weakness.svg);
      }
      &.o:before {
        background-image: url(./../images/opportunity.svg);
        background-size: 80%;
      }
      &.t:before {
        background-image: url(./../images/treat.svg);
      }
    }
    p {
      margin-top: 0;
    }
  }
} //end of section_swot

section.interview {
  width: 100vw;
  background-color: #b13636;

  .inter_container {
    position: relative;
    width: 1000px;
    margin: 0 auto;

    @media #{$tablet} {
      width: 100%;
    }

    .inter_gide {
      overflow: hidden;
      position: relative;

      width: 800px;
      height: 800px;
      margin: 0 auto;

      @media #{$mobile} {
        overflow: initial;
        width: 100vw;
        height: auto;
        margin: 0 auto;
      }

      .inter_card {
        display: flex;
        font-family: row wrap;

        position: absolute;
        top: 0;
        left: -300px;

        width: calc(400px * 6);
        padding: 200px 0;

        @media #{$mobile} {
          flex-direction: column;
          position: initial;

          width: 90vw;
          margin: 0 auto;
          padding: 50px 0;
        }

        li {
          width: 300px;
          padding: 50px;
          background-color: #fff;
          border-radius: 20px;
          box-sizing: border-box;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          transform: scale(0.85);

          @media #{$mobile} {
            width: 100%;
            padding: 50px;

            &:nth-of-type(3) {
              display: none;
            }
            &:nth-of-type(4) {
              position: relative;
              left: 200px;
            }
            &:nth-of-type(5) {
              display: none;
            }
            &:nth-of-type(6) {
              display: none;
            }
          }

          &.on {
            width: 600px;
            margin-left: -200px;
            z-index: 1000;
            animation: scaleUp 0.2s forwards;

            & + li {
              margin-left: -200px;
            }
          }

          @keyframes scaleUp {
            0% {
              transform: scale(0.85);
            }
            100% {
              transform: scale(1);
            }
          }

          h3 {
            position: relative;
            margin-top: 40px;
            &:before {
              content: "INTERVIEW";
              position: absolute;
              top: -30px;
              color: #666;
              font-size: 1rem;
              font-weight: 800;
              border-bottom: 2px solid #666;
            }
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: -70px;
              right: -20px;

              width: 60px;
              height: 60px;

              background-image: url(./../images/talk_line.svg);
              background-repeat: no-repeat;
            }
          }
          .cont {
            overflow: hidden;
            height: 210px;

            @media #{$mobile} {
              overflow: visible;
              height: auto;
            }

            p {
              font-size: 1.1rem;

              @media #{$mobile} {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
    > a {
      display: block;
      position: absolute;
      top: calc(50% - 25px);
      width: 50px;
      height: 50px;

      text-indent: -9999px;
      opacity: 0.3;

      @media #{$tablet} {
        top: initial;
        bottom: 100px;
        width: 40px;
        background-repeat: no-repeat;
        @media #{$mobile} {
          display: none;
        }
      }

      &:hover {
        opacity: 1;
      }

      &:nth-of-type(1) {
        left: 0;
        background-image: url(./../images/btn_prev.svg);
        @media #{$tablet} {
          left: calc(50% - 50px);
        }
      }
      &:nth-of-type(2) {
        right: 0;
        background-image: url(./../images/btn_next.svg);
        @media #{$tablet} {
          right: calc(50% - 50px);
        }
      }
    }
  }
} //end of section_interview

.mo_btn {
  display: none;

  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 45px;
  height: 45px;

  text-align: center;
  line-height: 45px;
  font-size: 600;

  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;

  &:nth-of-type(1) {
    bottom: 80px;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }

  @media #{$mobile} {
    display: block;
  }
}
